name: Deploy to GitHub Pages

# trigger
on:
  push:
    branches:
      - main

jobs: 
  build:
    name:  CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test -- --coverage

      - name: Build
        run: npm run build

      - name: Publish
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
